---
import { Image } from "astro:assets";
import discordFull from "../images/discord-full.svg";
import discordBannerBackground from "../images/discord-banner-background.png";
---

<a class="link" href="https://discord.gg/rsBNkmJA">
  <div class="main-container">
    <div class="inset-container">
      <div>
        <div class="copy">La nueva comunidad de desarrollo en español</div>
        <button>¡Únete ahora!</button>
      </div>
      <div mt-8>
        <div font-600 text-white italic>por</div>
        <Image src={discordFull} alt="discord-full" mt-2 />
      </div>
    </div>
    <Image
      class="background"
      src={discordBannerBackground}
      alt="discord-banner"
    />
  </div>
</a>
<style>
  .link {
    --uno: hover: (brightness-160 grayscale-20 saturate-150)
      transition-(filter duration-400) ease-in-out;
  }

  .main-container {
    --uno: border-(brand-primary 2) discord-banner w-sm min-h-sm relative;
  }

  .inset-container {
    --uno: absolute h-full top-6 text-center px-8 flex flex-col items-center
      justify-center;

    & .copy {
      --uno: text-8 text-white font-300 italic leading-10 mb-6;
    }

    & button {
      --uno: bg-brand-primary py-2 px-6 border-[#008254] border-2 font-700;
    }
  }

  .background {
    --uno: absolute left-0 top-0 -z-1;
  }
</style>
